html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #189ab4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}
.header-logo img {
    height: 5vw;
    width: auto;
}
.header-title {
    flex: 1;
    text-align: center;
    font-size: 2vw;
    color: #189ab4;
    font-weight: 800;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: auto;
}
.nav-a {
    white-space: nowrap;
    flex: 1;
    text-align: center;
    color: #189ab4;
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: 600;
    padding: 1vw;
    transition-duration: 0.5s;
}
.nav-a:hover {
    color: #05445e;
    transition-duration: 0.5s;
}
.active {
    color: #05445e;
}

.gradient-separator {
    height: 1.5vw;
    width: 100%;
    background-image: linear-gradient(rgb(128, 128, 128), #f0f0f0);
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-image {
    position: relative;
    flex: 1;
    margin: 0;
}

.page-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.page-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    clip-path: polygon(100% 0, 100% 100%, 70% 100%);
    z-index: 2;
}

.page-content {
    flex: 1;
    padding: 0;
    text-align: center;
    margin: 0;
}

.page-text {
    color: #189ab4;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: "Roboto Light", curvy, serif;
    padding: 5vw;

}

a {
    color: #0a53be;
    font-size: 1.5vw;
    text-decoration: none;
}

.members-column {
    font-family: "Roboto Light", curvy, serif;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 1.1vw;
    font-weight: 600;
    padding: 1vw;
}

#contact-youtube img{
    width: 50%;
    height: auto;
    position: relative;
    top: 25%;
    left: 25%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

#contact-youtube {
    flex: 1;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

#language-dropdown {
    display: none;
}

#language-dropdown{
    position: fixed;
    top: calc(100% - 2vw - 1.5vw);
    left: calc(100% - 2vw - 1.5vw);
    font-size: 1.7vw;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1vw .4vw;
    transition-duration: 0.5s;
}

#language-dropdown:hover{
    background-color: rgba(0, 0, 0, 0.25);
}