#mp3-players-container {
    margin: 0;
    flex: 1;
}

.mp3-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vw; /* Wider than higher */
    height: auto; /* Adjust height */
    padding: 1vw;
    border: 1px solid #189ab4;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

.mp3-image {
    width: 5vw; /* Smaller image */
    height: 5vw; /* Maintain aspect ratio */
    border-radius: 10px;
    margin-right: 1vw;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.recording-name {
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.control-buttons {
    display: flex;
    align-items: center;
    width: 100%;
}

.time-display {
    margin: 0 1vw;
    font-size: 1vw;
    color: #189ab4;
}

.play-pause {
    margin: 0 1vw 0 0;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 5px;
    background-color: #189ab4;
    color: white;
    cursor: pointer;
}

.progress-bar {
    flex-grow: 1;
    margin: 0 1vw;
    width: 8vw;
}

.download-button {
    font-size: .85vw;
    padding: 0.25vw;
    border: none;
    border-radius: 5px;
    background-color: #189ab4;
    color: white;
    cursor: pointer;
}

#youtube-teaser {
    flex: 1;
}

#youtube-teaser-title {
    position: absolute;
    top: 11vw;
    font-size: 1vw;
    padding: 2vw 1.5vw 1.5vw;
    color: white;
    z-index: 1;
}

#youtube-teaser img:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}